<div class="row lane-right" ng-controller="laneRight">
    <div class="codiv" style="padding: 6px 10px">
        <div class="ibox border-bottom m-b-none">
            <div class="ibox-title">
                <h5>搜索栏</h5>
            </div>
        </div>
    </div>
    <!-- 车道信息-->
    <div class="col-sm-6 lane-list">
        <div class="ibox">
            <div class="ibox-content p-b-md" style="padding: 8px 20px 20px 20px;">
                <div  style="height: 350px;width: 102%;">
                <div full-scroll="" style="width: 100%;margin: 0;padding: 0;margin-top: -1px;">
                    <div class="carTXT" style="width: 100%;padding-right: 2%">
                    <table class="table table-hover issue-tracker m-b-none text-center">
                        <thead>
                        <th>锁定</th>
                        <th>操作员</th>
                        <th>进出类型</th>
                        <th>车道编号</th>
                        <th>IC卡号</th>
                        <th>车牌号</th>
                        <th>前箱号</th>
                        <th>后箱号</th>
                        <th>创建时间</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span class="label label-primary"><i class="fa fa-unlock-alt"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-danger"><i class="fa fa-lock"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label" style="padding: 3px 7px"><i class="fa fa-refresh"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary"><i class="fa fa-unlock-alt"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-danger"><i class="fa fa-lock"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label" style="padding: 3px 7px"><i class="fa fa-refresh"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary"><i class="fa fa-unlock-alt"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-danger"><i class="fa fa-lock"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label" style="padding: 3px 7px"><i class="fa fa-refresh"></i></span>
                            </td>
                            <td>
                                OP01
                            </td>
                            <td>
                                进闸
                            </td>
                            <td>
                                GI01
                            </td>
                            <td>
                                125850
                            </td>
                            <td>
                                粤A.8888
                            </td>
                            <td>
                                ABCD1524569
                            </td>
                            <td>
                                ABCD1594568
                            </td>
                            <td>
                                2017/03/01
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 lane-form" style="padding-left: 0px">
        <div class="ibox">
            <div class="ibox-title" style="vertical-align: bottom">
                <b>当前车道：</b>GI01
                <p class="pull-right"><b>操作员：</b>YJQ ; &nbsp;&nbsp;
                    <b>锁定时间：</b>
                    <span class="label pull-right" ng-class="{'label-danger':(main.nowTime | timeFilter:item.queue.start_time).TimeDifference>=120}">
                    <span ng-if="(main.nowTime | timeFilter:item.queue.start_time).T">
                        {{(main.nowTime | timeFilter:item.queue.start_time).T}}:</span>{{(main.nowTime | timeFilter:item.queue.start_time).M+':'+(main.nowTime | timeFilter:item.queue.start_time).S}}
                </span>
                </p>
            </div>
            <form role="form">
                <div class="ibox-content clearfix" style="height: 335px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><label>识别车牌</label> <input type="text" class="form-control"></div>
                            <div class="form-group"><label>IC卡号</label> <input type="text" class="form-control"></div>
                            <div class="form-group">
                                <label>前箱号</label>
                                <input type="text" placeholder="" class="form-control">

                            </div>
                            <div class="Formbtn">
                                <label> 残损信息</label><br/>
                                <button class="btn btn-outline btn-danger btn-w-m" type="button">记录
                                    <span class="badge badge-danger" type="button" style="position: absolute;right: -6px;top: -3px;transform: scale(0.45);font-size: 30px;line-height: 23px;background-color: #ec4758;color: white;">
                                      2
                                    </span>
                                </button>
                                <button class="btn btn-outline btn-success" type="button">新增</button>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"><label>读卡车牌号</label> <input type="text" class="form-control"></div>
                            <div class="form-group"><label>总重量</label> <input type="text" class="form-control"></div>
                            <div class="form-group">
                                <label>后箱号</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="Formbtn">
                                <label> 残损信息</label><br/>
                                <button class="btn btn-outline btn-danger btn-w-m" type="button">记录
                                    <span class="badge badge-danger" type="button" style="position: absolute;right: -6px;top: -3px;transform: scale(0.45);font-size: 30px;line-height: 23px;background-color: #ec4758;color: white;">
                                      3
                                    </span>
                                </button>
                                <button class="btn btn-outline btn-success" type="button">新增</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-w-m btn-success" style="width: 100%;">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 图片-->
    <div class="col-sm-12 carimg" style="height: 440px;">
        <div class="col-sm-6" style="padding-right: 10px">
            <div class="img-box carLeft" style="background-image: url('./img/left.jpg');">
                <!--<img src="./img/left.jpg" alt=""/>-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="img-boxtree clearfix">
                <div class="col-sm-4" style="background-image: url('./img/in.jpg');">
                    <!--<img src="./img/in.jpg" alt=""/>-->
                </div>
                <div class="col-sm-4"  style="background-image: url('./img/in.jpg')">
                    <!--<img src="./img/in.jpg" alt=""/>-->
                </div>
                <div class="col-sm-4"  style="background-image: url('./img/in.jpg');">
                    <!--<img src="./img/in.jpg" alt=""/>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6 " style="padding:0px 10px 0 0">
            <div class="img-box carRight" style="background-image: url('./img/right.jpg');">
                <!--<img src="./img/right.jpg" alt=""/>-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="img-box" style="background-image: url('./img/top.jpg');">
                <!--<img src="./img/top.jpg" alt=""/>-->
            </div>
        </div>
    </div>
</div>