<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header" style="height: 60px;line-height: 60px;margin: 0 10px;">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false" style="padding: 6px 15px">厦门码头 <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        <div class="pull-right" style="height: 60px;line-height: 60px;margin: 0 10px;">
            <strong>用户：</strong>{{main.user.name}}
        </div>
    </nav>
</div>